@font-face {
    font-display: swap;
    font-family: $lightfont;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/lato-regular.woff2');
}
@font-face {
    font-display: swap;
    font-family: $boldfont;
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/lato-bold.woff2');
}
*{
    box-sizing: border-box;
}
body{
    font-family: $lightfont;
    font-size: 14px;
    line-height: 24px;
    color: $bodyclr;
    letter-spacing: .4px;
}
a{
    color: $bodyclr;
    text-decoration: none;
    transition: .2s ease-in-out;
    &:hover, &:active{
        text-decoration: none;
        transition: .2s ease-in-out;
    }
}
body{
    h1,h2,h3,h4,h5,h6{
        margin-top: 0;
        margin-bottom: 8px;
        font-family: $boldfont;
        line-height: inherit;
    }
}
strong{
    font-weight: 600;
}
html[lang="hi"]{
    h1,h2,h3,h4,h5,h6,.boldfont,.headerMain-bottomLinks,.headerMain-top .nav-link{
        font-weight: 600;
    }
}
h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}
h3,h4,h5,h6{
    font-size: 16.5px;
}
p{
    margin: 0 0 10px 0;
}
ul,ol{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 0;
    li{
        margin-bottom: 4px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.b-t-1{
    border-top: 1px solid #ebebeb;
}
amp-img {
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
.boldfont{
    letter-spacing: 1px;
    font-family: $boldfont;
}
.headingfont{
    font-size: 16px;
}
.whitebg{
    background-color: #fff;
}
.greybg{
    background-color: #f6f6f6;
}
.offwhitetext{
    color: $offwhitetext;
}
.imgFilterInvert{
    filter: invert(100%);
}
.no-margin{
    margin-left: 0;
    margin-right: 0;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.sectionpadding15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.sectionpadding20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.sectionpadding25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.sectionbtmpadding30{
    padding-bottom: 30px;
}
.m-t-16{
    margin-top: 16px;
}
.m-b-16{
    margin-bottom: 16px;
}
.borderBtn{
    border: 1px solid $primaryclr;
    color: $primaryclr;
    padding: 0 10px;
    border-radius: 0;
    line-height: 36px;
    display: block;
    @include oneline;
    @media (max-width:600px){
        text-transform: unset;
    }
}
.sectionHeading{
    margin-bottom: 16px;
    h1,h2,h3,h4,h5,h6{
        font-size: 21px;
        @media (max-width:767px){
            font-size: 18px;
        }
    }
    a{
        color: $linkclr;
        font-weight: 600;
    }
}
.socialMedia{
    li,a{
        display: inline-block;
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
        img{
            width: 25px;
        }
    }
    &.newsSinglePage-share{
        span{
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
    }
}
.sectionShadow{
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
}
.tj-row {
	margin-left: -8px;
	margin-right: -8px;
}
.tj-col{
	padding-left: 8px;
	padding-right: 8px;
}
.form-control{
    border-radius: 0;
    font-size: 14px;
    height: 38px;
    line-height: 40px;
    padding: 0 10px;
    letter-spacing: .5px;
}
textarea{
    min-height: 108px;
}
select.form-control{
    appearance: none;
    background-image: url('/assets/images/icons/caret-down.svg');
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 97.5%;
    background-position-y: 55%;
}
.fillBtn{
    @include oneline;
    background-color: $primaryclr;
    border: 1px solid $primaryclr;
    line-height: 36px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: .2s ease-in-out;
    @media (max-width:600px){
        text-transform: unset;
    }
    &:hover{
        color: #fff;
        background-color: $secondaryclr;
        transition: .2s ease-in-out;
    }
}
.container-mid{
    max-width: 1280px;
    width: 98%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width:1450px){
        max-width: 1450px;
    }
}
.container-mid-mobileFull{
    @media (max-width:800px){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
.viewall{
    a{
        color: $linkclr;
    }
    img{
        width: 12px;
    }
}
.stickyBar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}
.linkclr{
    color: $linkclr;
}
.filterBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .filterBlockMain{
        flex:0 0 16.66%;
        max-width: 16.66%;
        @media (max-width:550px){
            flex:0 0 50%;
            max-width: 50%;
        }
        @media (min-width:551px) and (max-width:750px){
            flex:0 0 33.3333%;
            max-width: 33.3333%;
        }
        @media (min-width:751px) and (max-width:1100px){
            flex:0 0 25%;
            max-width: 25%;
        }
        .filterBlock-chips{
            display: block;
            background-color: #fff;
            text-transform: capitalize;
            padding: 10px 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: 25px;
            margin: 6px 0 10px;
        }
    }
}
.newTag{
    background-color: $primaryclr;
    font-size: 12px;
    padding: 1px 5px 2px;
    border-radius: 2px;
    margin-left: 3px;
    color: #fff;
    text-transform: capitalize;
}
.w-100{
    width: 100%;
}